@model EjemploSelectList
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<p>Nombre: @Model.Nombre</p>
<p>Empresa: @Model.Empresa </p>
<p>Motivo de consulta: @Model.Motivo</p>
<p>Estado: @Model.Estado</p>
<p>Año: @Model.Anyo</p>
<p>Email: @Model.Email</p>
<p>Mensaje: @Model.Mensaje </p>